.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 94%;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 20px !important;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    margin: auto;
}

h1 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    padding-right: 1rem;
}

img {
    width: 40px;
    height: auto;
    margin: auto;
}

.header-right {
    display: flex;
    position: relative;
    align-items: left;
    margin-left: -20%;
}

.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    width: 250px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        width: 90%;
    }

    .header-left {
        margin-bottom: 1rem;
        justify-content: space-between;
        width: 100%;
    }

    h1 {
        font-size: 1.2rem; 
    }

    img {
    
        width: 40px;
        transform: translateY(10px) !important;
        margin-left: 39%;
        transform: translateX(-100%);
    
    }

    .header-right {
        margin-left: 0; 
        width: 100%;
        justify-content: flex-start;
    }

    .search-input {
        display: none;
        width: 100%; 
        font-size: 0.9rem; 
    }
}
