.container {
   width: 90%;
   margin: auto;
}

table {
   width: 100%;
}

mat-form-field {
   width: 100%;
}

.glyphicon {
   cursor: pointer;
   margin-left: 5%;
}

button {
   width: 15%;
   align-items: center;
   text-align: center;
   margin: auto !important;
   color: white;
   background-color: green;
}

h1 {
   width: 100%;
   text-align: center;
   margin-bottom: 2rem;
}

/* Customizando o mat-menu */
.custom-menu {
   background-color: white !important;
   color: black !important;
   cursor: pointer;
}

.mat-icon {
   cursor: pointer;
}

.custom-menu span {
   color: black !important;
   cursor: pointer;
   background-color: white !important;
}

.custom-menu mat-icon {
   color: black !important;
}

.action-text {
   margin-right: 10px;
   font-size: 14px;
   color: grey;
}

/* Responsivo */
@media (max-width: 768px) {
   .container {
      width: 98%;
      overflow-x: hidden; 
   }

   table {
      width: 97%;
      display: table;
      table-layout: fixed; 
      overflow-x: hidden;
   }

   th, td {
      padding: 6px 8px;
      font-size: 0.8rem;
      word-wrap: break-word; 
   }

   th {
      text-align: left;
   }

   mat-form-field {
      width: 100%;
   }

   mat-label {
      margin-left: 20px;
   }
   
   button {
      width: 100%;
      margin-bottom: 1rem;
   }

   h1 {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
   }
}

td.mat-cell {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-right: 8px;
}

td.mat-cell:nth-child(1) {
   max-width: 40px;
   padding-right: 20px;
}

td.mat-cell:nth-child(2) {
   max-width: 100px;
}

td.mat-cell:nth-child(3) {
   max-width: 100px;
}

td.mat-cell:nth-child(4) {
   max-width: 120px;
}
