<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title><h2>Bem-vindo ao GC Help Desk!</h2></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  
  <div class="content-wrapper">
    <div class="text-section">
      <mat-card-content>
        <p>
          Nossa missão é simplificar a forma como você gerencia suas solicitações e oferece suporte ao seu negócio. Com uma interface intuitiva e ferramentas poderosas, você pode resolver problemas rapidamente, organizar demandas e garantir a satisfação dos seus clientes.
        </p>
      </mat-card-content>
    </div>
    <div class="image-section">
      <img mat-card-image src="assets/img/help-desk.png" alt="Image Home Help Desk">
    </div>
  </div>
</mat-card>
