.card {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    margin: auto;
    background: linear-gradient(90deg, rgba(108, 4, 142, 0.562) 0%, rgba(201, 6, 45, 0.562) 100%);
 }

 h2 {
   text-align: center;
 }
 
 img {
    width: 500px;
    height: auto;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);

 }

 p {
    text-align: center;
 }