.container {
   height: 100%;
   background: linear-gradient(90deg, rgba(201,6,46,1) 0%,  rgba(108,4,142,1) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   width: 20rem;
   height: 50%;
   margin: auto;
   background-color: rgb(235, 235, 235);
   padding: 4rem 1rem;
   border-radius: 1rem;
}

h1 {
   width: 100%;
   text-align: center;
   
}

img {
   height: auto;
   width: 90%;
   margin: auto;
}

.full-width {
   width: 100%;
}

button {
   color:  rgba(108,4,142,1);
   margin-top: 1.5rem;
}

mat-icon {
   opacity: .6;
}