.container {
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: rgb(37, 2, 49);
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

img {
    width: 190px;
    height: auto;
    margin-top: 2%;
    margin-left: 3%;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(90deg, rgba(201, 6, 46, 1) 0%, rgba(108, 4, 142, 1) 100%);
    margin-top: -80px !important;
    position: absolute;
}

@media (max-width: 768px) {
    .container {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    img {
        width: 140px;
        height: auto;
        margin-top: 2%;
        margin-left: 3%;
    }

    .form {
        width: 100%;
    }

    .sidenav {
        width: 80%;
        height: 100%;
        z-index: 1000;
        
    }
    
    .sidenav.open {
        left: 0; 
    }
    
    .sidenav-content {
        z-index: 1;
    }
 

    
}
