@import '../node_modules/ngx-toastr/toastr.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  main {
    min-height: 100vh; /* Isso garante que o conteúdo ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; /* Isso faz com que o conteúdo principal se ajuste ao restante da página */
  }
  