<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal" [ngClass]="modalClass">
    <div class="modal-header">
      <h2>Confirmação de Exclusão!</h2>
      <button class="close-btn" (click)="close()">X</button>
    </div>
    <div class="modal-body">
      <p>Tem certeza que deseja excluir o {{ entityType }} <strong>{{ entityName }}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
      <button class="btn btn-secondary" (click)="close()">Cancelar</button>
    </div>
  </div>
</div>
